body {
  font-family: 'Calibri','Arial Black',sans-serif;
}

main {
  width:80vw;
  background: rgb(176, 255, 252);
  margin: 0 auto;
  h1 {
    font-size: 40px;
    margin-left: 20px;
    padding-top: 20px;
    color: pink;
  }
  form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    #input {
      width: 70%;
      height: 20px;
      padding: 10px;
    }
    #button {
      margin-left: 10px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      background: yellow;
      border-radius: 2px;
      cursor: pointer;
      user-select: none;
      border: none;
    } 
    #button:hover {
      background: rgb(246, 246, 1);
    }
    #button:active {
      position: relative;
      top: 3px;
      height: 17px;
      line-height: 17px;
    }
  }
  ul {
    list-style: none;
    width: 86%;
    margin: 30px auto;
    padding: 0;
    padding-bottom: 30px;
    li {
      color: #555;
      display: flex;
      margin: 10px 0;
      width: 100%;
      button {
        background: #fff;
        border: none;
        border-radius: 2px;
        margin-left: 10px;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
      }
      button:hover {
        background: #ddd;
      } 
      p {
        margin: 0;
        height: 30px;
        padding: 5px;
      }
      input {
        height: 30px;
      }
    }
  }
}